<footer class="center">	
		<a href="#">Începutul paginii</a>	
		<br>
		<a href="/doc">DOCUMENTAȚIE</a> 
		<br>
		<a href="/prod">Produse</a> 
		<br>
		Ndr Make Up SRL, e-mail: <a href="mailto:ndr.makeup@gmail.com">ndr.makeup@gmail.com</a>
		<address> Strada Frumușescu, nr. 22, sector 4 </address>  
</footer>