<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pagina principala</title>
	<meta charset="utf-8">
	<meta name="author" content="Ionel"/>
	<link type="text/css" rel="stylesheet" href="/css/stil.css"/>
	<link type="text/css" rel="stylesheet" href="/css/404.css"/>

</head>
<body class="container">
<%- include("../fragmente/header")  %> 
<main>
<br>
<div class="err">
	<figure><img src="../images/404err.png" alt="404" title="404" height="300" width="700"/></figure>
<p>
   Ne pare rau, pagina cautata nu a fost gasita.
</p>
</div>
<br><br><br>
</main>
<%- include("../fragmente/footer")  %>

</body>
</html>  
