<!DOCTYPE HTML>
<html lang="ro">
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
		<meta charset="UTF-8">
		<meta name="description" content="Documentatie">
		<meta name="keywords" content="NDR, documentatie, surse, inspiratie">
		<meta name="author" content="Popa Iulia Andreea">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../CSS/doc.css"> 
		<link rel="stylesheet" href="../CSS/stil.css">
		<title>Documentație</title>
	</head>
	<body>
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
		<h1>NDR Make Up - Documentație</h1>
		<section>
			<h2>Tema proiectului</h2>
			<p>Proiectul "NDR Make Up" ilustrează un magazin online de produse cosmetice de înfrumusețare destinat iubitorilor de machiaj și îngrijire.</p>
			<p>Prima pagină, intitulată "Acasă" reprezintă pagina de pornire a site-ului, cu câteva informații și elemente vizuale ce atrag atenția.</p>
			<p>Cea de-a doua pagină prezintă gama de produse ale magazinului, organizate pe categorii și subcategorii, imitând tipul unui catalog.</p>
			<p>A treia pagină este destinată exclusiv produselor aflate la promoție.
			<p>În a patra pagină am inclus informații utile pentru clienți referitoare la comenzi, livrare și alte neclarități.</p>
		</section>
		<section>
			<h2>Resurse</h2>
			<p>În realizarea proiectului am folosit următoarele surse:</p>
			<nav>
				<ul>
					<li><a href="https://makeupshop.ro/"> https://makeupshop.ro/</a> Am preluat text pentru pagina "Informații utile"</li>
					<li><a href="https://youtu.be/oLgtucwjVII"> https://youtu.be/oLgtucwjVII</a> Tutorial pentru responsive menu </li>
					<li><a href="https://www.w3schools.com/"> https://www.w3schools.com/</a></li>
					<li><a href="https://www.favicon.cc/"> https://www.favicon.cc/</a> Pentru crearea favicon-ului </li>
					<li><a href="http://irinaciocan.ro/tehnici_web/index.php"> http://irinaciocan.ro/tehnici_web/index.php </a></li>
				</ul>
			</nav>
		</section>
		<aside> Acesta este un proiect școlar. Nu dețin drepturi de autor pentru materialele folosite în realizarea acestuia.</aside>
		<br>
		<br><br>
		</main>
		<footer>
			<%- include("../fragmente/footer") %>
		</footer>
	</body>
</html>