
<!DOCTYPE HTML>
<html lang="ro">

	<head>
		<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
		<meta charset="UTF-8">
		<meta name="description" content="Acasa NDR Make Up">
		<meta name="keywords" content="NDR, cosmetice, machiaj, frumusete, ruj, fard, produse, rimel, iluminator, sprancene, transport">
		<meta name="author" content="Popa Iulia Andreea">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/CSS/index.css"> 
		<link rel="stylesheet" href="../CSS/stil.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://kit.fontawesome.com/0191ae4a8e.js" crossorigin="anonymous"></script>
		<script src="js/script.js"></script>
		<title>Acasa NDR Make Up</title>
	</head>
	<body>
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<br><br>
		<main>
		<div class="img-wrapper">
			<figure id="fig1">
				<img id="img1" src="../images/wakeup.jpg" alt="Wake up and Make up" height="200" width="200" title="NDR Make Up"/>
				<figcaption>Be your own kind of beautiful</figcaption>
			</figure>
		</div>
		<br>
		<article class="center">
			<h3 class="center">Bun venit!</h3>
			<p>În toate culturile, cosmeticele au ajutat la înfrumusețarea chipului și au transformat adeseori un chip comun într-o înfățișare deosebită.</p>
			<p>Aplicarea atentă a machiajului pe fața unei femei poate deveni astfel întâlnirea dintre ceea ce este femeia și idealul ce și-l dorește în legătura cu persoana sa. Un "chip nou" poate conferi o mare încredere în sine.<p>
			<p>NDR Make Up te ajută să descoperi acest ideal și să devii cea mai bună variantă a ta.</p>
		</article>
		<br><br>
		<div class="gallery-wrapper">
			<div id="galerie" class="gallery">
				<figure><img src="../images/galerie/galery1.jpg" alt="Make Up" title="Make Up"/></figure>
				<figure><img src="../images/galerie/galery2.jpg" alt="Make Up" title="Make Up"/></figure>
				<figure><img src="../images/galerie/galery3.jpg" alt="Make Up" title="Make Up"/></figure>
				<figure><img src="../images/galerie/galery4.jpg" alt="Make Up" title="Make Up"/></figure>
				<figure><img src="../images/galerie/galery5.jpg" alt="Make Up" title="Make Up"/></figure>
				<figure><img src="../images/galerie/galery6.jpg" alt="Make Up" title="Make Up"/></figure>
				<figure><img src="../images/galerie/galery7.jpg" alt="Make Up" title="Make Up"/></figure>
			</div>
		</div>
		<br><br>
		
		<article class="center">
			<h4>Te ajutăm să înveți!</h4>
			<p>Aici poți viziona un tutorial de make up pas cu pas pentru a te ajuta, fie să pornești cu pași repezi în tainele machiajului, fie să îți perfecționezi tehnicile.</p>
			<p>În acest videoclip poți vedea, de asemenea, cum să folosești produse pe care le găsești pe pagina noastră și ce lucruri deosebite poți face cu ele.</p>
		</article>
		<br><br>
		
		<div class="wrapper">
			<div class="videowrapper">
				<iframe src="https://www.youtube.com/embed/BKgAAl9hb4A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<br>
		</main>
		<footer>
			<%- include("../fragmente/footer") %>
		</footer>
	</body>
</html>