<!DOCTYPE HTML>
<html lang="ro">
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta charset="UTF-8">
		<meta name="description" content="Informații utile NDR Make Up">
		<meta name="keywords" content="NDR, machiaj, expediere, transport, produse, comanda, intrebari">
		<meta name="author" content="Popa Iulia Andreea">
		<link rel="stylesheet" href="../CSS/info.css"> 
		<link rel="stylesheet" href="../CSS/stil.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Informații utile NDR Make Up</title>
		</head>
	<body>
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
		<div class="grid-container">	
			<div>
				<h2>Valabilitatea produselor</h2>
				<i class="fa fa-hourglass" style="font-size:40px;"></i>
				<p>Toate produsele cosmetice pe care le folosim au o durată de viață limitată.</p>
				<p>Există doi parametri importanți de care trebuie ținut cont atunci când utilizăm acest tip de produse:</p>
				<p>a. <span>durata de viață la raft</span> - intervalul de timp cât un produs poate fi depozitat/expus în magazin fără ca acesta să își modifice caracteristicile chimice. Recomandăm achiziționarea produselor doar din magazine de încredere. De multe ori un preț de raft foarte mic al unui produs original poate indica un lot de produse a cărui durată de viață la raft a fost depășită.</p>
				<p>b. <span>termenul de valabilitate al produsului</span> - este inscripționat pe eticheta acestuia sub forma unui simbol grafic, o cutiuță cu capacul deschis, însoțită de un număr(2M, 6M, 12M, 24M, 36M). Acest număr reprezintă numărul de luni de valabilitate a produsului și se calculeaza de la prima deschidere a ambalajului.</p>
			</div>	
			
			<div>
				<h2>Expedierea comenzilor</h2>
				<i class="fa fa-truck" style="font-size:40px;"></i>
				<p>Toate comenzile ce sunt plasate de Luni pana Vineri în intervalul orar 09:00 - 15:00 sunt expediate în aceeași zi, cu excepția sărbătorilor legale și a perioadelor de promoție de tip Black Friday. </p> 
				<p>Comenzile lansate după ora 15:00, în zilele de sâmbătă și duminică sau în zilele libere prin lege vor fi operate și expediate în următoarea zi lucrătoare. Pentru mai multe informații puteți accesa <a href="http://zilelibere.com">aici</a> lista de sărbători legale.</p>
				<p>În cazuri rare (promoții cu impact puternic, Black Friday, evenimente neprevăzute) procesarea comenzilor poate dura mai mult datorită volumului mare de colete. Cu toate acestea, procesarea comenzilor confirmate nu poate depăși 10 zile. </p>
				<p>Ca măsură restrictivă pentru clienții ce nu ridică produsele comandate ne rezervăm dreptul de a nu mai expedia noi comenzi fără ca plata acestora să fie efectuată integral în avans.</p>
				<p>În situația în care clienții ce au comenzi neridicate doresc să comande produse cu plata în sistem ramburs aceștia vor trebui să achite în avans contravaloarea următoarei comenzi plus cea a transportului tur-retur pentru comanda neridicată anterior. Ulterior opțiunea de plată în sistem ramburs va fi din nou disponibilă la finalizarea comenzilor.</p>
			</div>
			
			<div class="item3">
				<section>
					<h2>Întrebări frecvente</h2>
					<i class="fa fa-comments" style="font-size:40px;"></i>
					<h3>Care sunt modalitățile de plată?</h3>
					<p>Plățile pot fi făcute prin virament bancar, depunere de numerar în cont sau în sistem ramburs. Plățile se fac în lei.</p>
				</section>
				<section>
					<h3>Cât de repede voi primi produsele comandate?</h3>
					<p>Comenzile plasate în intervalul 9:00 - 15:00, de luni până vineri vor fi expediate în aceeasi zi. Cele care vor fi trimise după ora 15:00 vor fi procesate în urmatoarea zi lucrătoare. Comenzile plasate în zilele de sâmbătă și duminică urmează a fi onorate luni. Nu se expediază comenzi în zilele de sărbători legale.</p>
				</section>
				<section>
					<h3>Cât costa transportul?</h3>
					<p>Prețul transportului depinde de valoarea comenzii.</p> <aside> Vezi tabelul de mai <a href="#tab">jos</a></aside>
				</section>
				<section>
					<h3>Care este modalitatea de retur a unui produs?</h3>
					<p>Conform legilor din România clientul are dreptul de a returna orice produs în termen de 14 zile de la recepția acestuia și poate solicita returnarea sumei de bani sau schimbarea cu un alt produs.</p>
				</section>
				<section>
					<h3>Ce se întamplă dacă nu ridic o comandă finalizată?</h3>
					<p>O comandă neridicata obligă compania noastra să platească cheltuielile de transport tur retur pentru produsul respectiv plus taxele de depozitare percepute de transportator pentru a putea recupera produsele, de aceea toate comenzile clientului lansate pe viitor vor trebui plătite în avans.</p>
				</section>
			</div>		
		</div>
		<br><br>
		
		<div class="tab-wrapper" id="tab">
			<table>
				<caption>Prețuri transport</caption>
				<thead>
					<tr>
						<th>Valoare comandă</th>
						<th>Preț transport</th>
						<th>Puncte bonus</th>
						<th>Mostre gratis</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1-50 RON</td>
						<td>25 RON</td>
						<td>comandă * 0.15</td>
						<td>1</td>
					</tr>
					<tr>
						<td>51-130 RON</td>
						<td>15 RON</td>
						<td>comandă * 0.25</td>
						<td>2</td>
					</tr>
					<tr>
						<td>131-300 RON</td>
						<td>10 RON</td>
						<td>comandă * 0.5</td>
						<td>2 (la alegere)</td>
					</tr>
					<tr>
						<td>+300</td>
						<td>Gratis</td>
						<td>comandă * 1</td>
						<td>3 (la alegere)</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<br><br>
		<div class="flip-box">
			<div class="flip-box-inner">
				<div class="flip-box-front">
					<h2>Telefon: </h2>
					<p>0723454682</p>
				</div>
				<div class="flip-box-back">
					<h2>Mail: </h2>
					<p>ndr.makeup@gmail.com</p>
				</div>
			</div>
		</div>			
		<br><br>
		</main>
		<footer>
			<%- include("../fragmente/footer") %>
		</footer>
	</body>
</html>