<!DOCTYPE HTML>
<html lang="ro">
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
		<meta charset="UTF-8">
		<meta name="description" content="Documentatie">
		<meta name="keywords" content="NDR, documentatie, surse, inspiratie">
		<meta name="author" content="Popa Iulia Andreea">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../CSS/doc.css"> 
		<link rel="stylesheet" href="../CSS/stil.css">
		<script src="js/script.js"></script>
		<title>Documentație</title>
	</head>
	<body>
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
		<h1>JSON</h1>
		<p>Continut JSON</p><br>
			<div class="afis" id="afisJson">
			</div>
		<br><br>
		</main>
		<footer>
			<%- include("../fragmente/footer") %>
		</footer>
	</body>
</html>