<!DOCTYPE HTML>
<html lang="ro">
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta charset="UTF-8">
		<meta name="description" content="Produse NDR Make Up">
		<meta name="keywords" content="NDR, cosmetice, machiaj, ruj, fard, rimel, pomada, iluminator, bronzer, sprancene, gloss, creion">
		<meta name="author" content="Popa Iulia Andreea">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../CSS/produse.css"> 
		<link rel="stylesheet" href="../CSS/stil.css">
		<title>Produse NDR Make Up</title>
		</head>
	<body>
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
		<div class="list">
			<nav>
				<ul>
					<li><a href="#ochi">Produse pentru ochi</a>
						<ol>
							<li><a href="#rimel">Rimel</a></li>
							<li><a href="#fard">Fard de pleoape</a></li>
							<li><a href="#sprancene">Produse sprâncene</a></li>
						</ol>		
					</li>
					<li><a href="#fata">Produse pentru față</a>
						<ol>
							<li><a href="#ten">Fond de ten</a></li>
							<li><a href="#bronzer">Fard bronzant</a></li>
						</ol>			
					</li>
					<li><a href="#buze">Produse pentru buze</a>
						<ol>
							<li><a href="#ruj">Ruj</a></li>
							<li><a href="#creion">Creion de buze</a></li>
							<li><a href="#gloss">Gloss</a></li>
						</ol>	
					</li>
				</ul>
			</nav>
		</div>
		
		
		<section id="ochi">
			<h2>Produse pentru ochi</h2>
			<br>
			<section id="rimel">
				<h3>Rimel</h3>
				<br>
				<div class="grid-container">
					<figure class="grid-item">
						<img src="../images/m1.jpg" alt="Rimel alungire" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Rimel alungire - 30 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/m2.jpg" alt="Rimel waterproof" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Rimel waterproof - 50 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/m3.jpg" alt="Rimel volum" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Rimel volum - 40 RON</figcaption>
					</figure>
				</div>
			</section>
			<br>
			<section id="fard">
				<h3>Fard de pleoape</h3>
				<br>
				<div class="grid-container">
					<figure class="grid-item">
						<img src="../images/o1.jpg" alt="Paleta Rose" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Paleta Rose - 130 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/o2.jpg" alt="Paleta Dessert" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Paleta Dessert - 130 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/o3.jpg" alt="Paleta Nude" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Paleta Nude - 130 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/o4.jpg" alt="Paleta Masquerade" height="110" width="130" title="NDR Make Up"/>
						<figcaption>Paleta Masquerade - 110 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/o5.jpg" alt="Paleta Zulu" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Paleta Zulu - 100 RON</figcaption>
					</figure>
				</div>
			</section>
			<br>
			<section id="sprancene">
				<h3>Sprancene</h3>
				<br>
				<div class="grid-container">
					<figure class="grid-item">
						<img src="../images/s1.jpg" alt="Pomada sprancene" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Pomada sprancene - 60 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/s2.jpg" alt="Fard sprancene" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Fard sprancene - 30 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/s3.jpg" alt="Creion sprancene" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Creion sprancene - 35 RON</figcaption>
					</figure>
				</div>
			</section>
		</section>
		<br>
		<section id="fata">
			<h2>Produse pentru fata</h2>
			<br>
			<section id="ten">
				<h3>Fond de ten</h3>
				<br>
				<div class="grid-container">
					<figure class="grid-item">
						<img src="../images/f1.jpg" alt="Fond de ten pentru ten uscat" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Fond de ten pentru ten uscat - 80 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/f2.jpg" alt="Fond de ten pentru ten mixt" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Fond de ten pentru ten mixt - <s>80 RON</s> 75 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/f3.jpg" alt="Fond de ten pentru ten gras" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Fond de ten pentru ten gras - 80 RON</figcaption>
					</figure>
				</div>
			</section>
			<br>
			<section id="bronzer">
				<h3><i>Bronzer</i> și <i>blush</i></h3>
				<br>
				<div class="grid-container">
					<figure class="grid-item">
						<img src="../images/b1.jpg" alt="Bronzer pudra" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Bronzer pudră - 50 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/b2.jpg" alt="Paleta bronzer" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Paletă bronzer - 90 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/b3.jpg" alt="Paleta bronzer si blush" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Paletă bronzer și blush - 130 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/b4.jpg" alt="Iluminator" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Iluminator - <s>65 RON</s> 55 RON</figcaption>
					</figure>
				</div>
			</section>
		</section>
		<br>
		<section id="buze">
			<h2>Produse pentru buze</h2>
			<br>
			<section id="ruj">
				<h3>Ruj</h3>
				<br>
				<div class="grid-container">
				<figure class="grid-item">
					<img src="../images/r1.jpg" alt="Ruj soft" height="110" width="110" title="NDR Make Up"/>
					<figcaption>Ruj soft - 60 RON</figcaption>
				</figure>
				<figure class="grid-item">
					<img src="../images/r2.jpg" alt="Ruj elegance" height="110" width="110" title="NDR Make Up"/>
					<figcaption>Ruj elegance - 60 RON</figcaption>
				</figure>
				<figure class="grid-item">
					<img src="../images/r3.jpg" alt="Ruj nude" height="110" width="110" title="NDR Make Up"/>
					<figcaption>Ruj nude - 60 RON</figcaption>
				</figure>
				<figure class="grid-item">
					<img src="../images/r4.jpg" alt="Set rujuri" height="110" width="110" title="NDR Make Up"/>
					<figcaption>Set rujuri - <s>180 RON</s> 150 RON</figcaption>
				</figure>
				</div>
			</section>
			<br>
			<section id="creion">
				<h3>Creioane de buze</h3>
				<br>
				<div class="grid-container">
					<figure class="grid-item">
						<img src="../images/c1.jpg" alt="Creion soft" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Creion soft - 30 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/c2.jpg" alt="Creion elegance" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Creion elegance - 30 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/c1.jpg" alt="Creion nude" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Creion nude - 30 RON</figcaption>
					</figure>
				</div>
			</section>
			<br>
			<section id="gloss">
				<h3><i>Gloss</i> și <i>lip topper</i></h3>
				<br>
				<div class="grid-container">
					<figure class="grid-item">
						<img src="../images/g1.jpg" alt="Gloss coral" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Gloss coral - 30 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/g2.jpg" alt="Gloss pink" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Gloss pink - 30 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/lt2.jpg" alt="Lip topper pink" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Lip topper pink - 40 RON</figcaption>
					</figure>
					<figure class="grid-item">
						<img src="../images/lt1.jpg" alt="Set lip toppers" height="110" width="110" title="NDR Make Up"/>
						<figcaption>Set lip toppers - <s>120 RON</s> 100 RON</figcaption>
					</figure>
				</div>
			</section>
			<br>
		</section>		
		</main>
		<footer>
			<%- include("../fragmente/footer") %>
		</footer>
	</body>
</html>