<!DOCTYPE HTML>
<html lang="ro">
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta charset="UTF-8">
		<meta name="description" content="Promoții NDR Make Up">
		<meta name="keywords" content="NDR, machiaj, cosmetice, promotii, ruj, fard, pensula, baza, rimel, pomada, iluminator, bronzer, sprancene">
		<meta name="author" content="Popa Iulia Andreea">
		<link rel="stylesheet" href="../CSS/promo.css">
		<link rel="stylesheet" href="../CSS/stil.css">		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Promoții NDR Make Up</title>
		</head>
	<body>
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<br>
		<main>
		<h2 class="center">Promoții</h2>
		<br>
		<div class="grid-container">
			<figure class="grid-item">
				<img src="../images/f2.jpg" alt="Fond de ten pentru ten mixt" height="110" width="110" title="NDR Make Up"/>
				<figcaption>Fond de ten pentru ten mixt - <s>80 RON</s> 75 RON</figcaption>
			</figure>
			<figure class="grid-item">
				<img src="../images/b4.jpg" alt="Iluminator" height="110" width="110" title="NDR Make Up"/>
				<figcaption>Iluminator - <s>65 RON</s> 55 RON</figcaption>
			</figure>
			<figure class="grid-item">
				<img src="../images/r4.jpg" alt="Set rujuri" height="110" width="110" title="NDR Make Up"/>
				<figcaption>Set rujuri - <s>180 RON</s> 150 RON</figcaption>
			</figure>
			<figure class="grid-item">
				<img src="../images/lt1.jpg" alt="Set lip toppers" height="110" width="110" title="NDR Make Up"/>
				<figcaption>Set lip toppers - <s>120 RON</s> 100 RON</figcaption>
			</figure>
		</div>
		<br>
		<aside class="center">La fiecare 500 puncte bonus acumulate, primiți un <i>voucher</i> de 50 de ron la orice comandă plasată pe <i>site</i>.</aside>
		<br><br>
		<aside class="center">Promoțiile de pe site se pot cumula cu cupoane de reducere și sunt în limita stocului disponibil.</aside>
		<br><br>
		</main>
		<footer>
			<%- include("../fragmente/footer") %>
		</footer>
	</body>
</html>